.lw {
    display: inline-block;
    top: 5%;
    left: 10%;
    position: absolute;
}

.cf {
    display: inline-block;
    top: 5%;
    left: 40%;
    position: absolute;
}

.rw {
    display: inline-block;
    top: 5%;
    left: 70%;
    position: absolute;
}

.lih {
    display: inline-block;
    top: 30%;
    left: 10%;
    position: absolute;
}

.cmf {
    display: inline-block;
    top: 30%;
    left: 40%;
    position: absolute;
}

.rih {
    display: inline-block;
    top: 30%;
    left: 70%;
    position: absolute;
}

.lb {
    display: inline-block;
    top: 55%;
    left: 10%;
    position: absolute;
}

.lcb {
    display: inline-block;
    top: 55%;
    left: 30%;
    position: absolute;
}

.rcb {
    display: inline-block;
    top: 55%;
    left: 50%;
    position: absolute;
}

.rb {
    display: inline-block;
    top: 55%;
    left: 70%;
    position: absolute;
}

.gk {
    display: inline-block;
    top: 75%;
    left: 40%;
    position: absolute;
}
