.formation-3-4-2-1 {
  .player-no11 {
    display: inline-block;
    top: 20%;
    left: 25%;
    position: absolute;
  }

  .player-no10 {
      display: inline-block;
      top: 20%;
      left: 55%;
      position: absolute;
  }

  .player-no9 {
      display: inline-block;
      top: 10%;
      left: 40%;
      position: absolute;
  }

  .player-no8 {
      display: inline-block;
      top: 40%;
      left: 50%;
      position: absolute;
  }

  .player-no7 {
      display: inline-block;
      top: 35%;
      left: 75%;
      position: absolute;
  }

  .player-no6 {
      display: inline-block;
      top: 35%;
      left: 5%;
      position: absolute;
  }

  .player-no5 {
      display: inline-block;
      top: 60%;
      left: 15%;
      position: absolute;
  }

  .player-no4 {
      display: inline-block;
      top: 40%;
      left: 30%;
      position: absolute;
  }

  .player-no3 {
      display: inline-block;
      top: 60%;
      left: 40%;
      position: absolute;
  }

  .player-no2 {
      display: inline-block;
      top: 60%;
      left: 65%;
      position: absolute;
  }

  .player-no1 {
      display: inline-block;
      top: 80%;
      left: 40%;
      position: absolute;
  }
}
    