/* ToDo: 3-4-3-D フォーメーションを作成 */
.formation-3-4-3-D {
  .player-no11 {
    display: inline-block;
    top: 15%;
    left: 5%;
    position: absolute;
  }

  .player-no10 {
      display: inline-block;
      top: 25%;
      left: 40%;
      position: absolute;
  }

  .player-no09 {
      display: inline-block;
      top: 7%;
      left: 40%;
      position: absolute;
  }

  .player-no08 {
      display: inline-block;
      top: 35%;
      left: 65%;
      position: absolute;
  }

  .player-no07 {
      display: inline-block;
      top: 15%;
      left: 75%;
      position: absolute;
  }

  .player-no06 {
      display: inline-block;
      top: 35%;
      left: 15%;
      position: absolute;
  }

  .player-no05 {
      display: inline-block;
      top: 60%;
      left: 15%;
      position: absolute;
  }

  .player-no04 {
      display: inline-block;
      top: 45%;
      left: 40%;
      position: absolute;
  }

  .player-no03 {
      display: inline-block;
      top: 62%;
      left: 40%;
      position: absolute;
  }

  .player-no02 {
      display: inline-block;
      top: 60%;
      left: 65%;
      position: absolute;
  }

  .player-no01 {
      display: inline-block;
      top: 80%;
      left: 40%;
      position: absolute;
  }
}
  