.formation-3-4-3 {
  .player-no11 {
    display: inline-block;
    top: 10%;
    left: 15%;
    position: absolute;
  }

  .player-no10 {
      display: inline-block;
      top: 35%;
      left: 10%;
      position: absolute;
  }

  .player-no09 {
      display: inline-block;
      top: 10%;
      left: 40%;
      position: absolute;
  }

  .player-no08 {
      display: inline-block;
      top: 35%;
      left: 70%;
      position: absolute;
  }

  .player-no07 {
      display: inline-block;
      top: 10%;
      left: 65%;
      position: absolute;
  }

  .player-no06 {
      display: inline-block;
      top: 35%;
      left: 30%;
      position: absolute;
  }

  .player-no05 {
      display: inline-block;
      top: 60%;
      left: 15%;
      position: absolute;
  }

  .player-no04 {
      display: inline-block;
      top: 35%;
      left: 50%;
      position: absolute;
  }

  .player-no03 {
      display: inline-block;
      top: 60%;
      left: 40%;
      position: absolute;
  }

  .player-no02 {
      display: inline-block;
      top: 60%;
      left: 65%;
      position: absolute;
  }

  .player-no01 {
      display: inline-block;
      top: 80%;
      left: 40%;
      position: absolute;
  }
}
  