.formation-5-4-1 {
  .player-no11 {
    display: inline-block;
    top: 30%;
    left: 10%;
    position: absolute;
  }

  .player-no10 {
      display: inline-block;
      top: 40%;
      left: 30%;
      position: absolute;
  }

  .player-no09 {
      display: inline-block;
      top: 15%;
      left: 40%;
      position: absolute;
  }

  .player-no08 {
      display: inline-block;
      top: 40%;
      left: 50%;
      position: absolute;
  }

  .player-no07 {
      display: inline-block;
      top: 30%;
      left: 70%;
      position: absolute;
  }

  .player-no06 {
      display: inline-block;
      top: 60%;
      left: 25%;
      position: absolute;
  }

  .player-no05 {
      display: inline-block;
      top: 55%;
      left: 5%;
      position: absolute;
  }

  .player-no04 {
      display: inline-block;
      top: 60%;
      left: 40%;
      position: absolute;
  }

  .player-no03 {
      display: inline-block;
      top: 60%;
      left: 55%;
      position: absolute;
  }

  .player-no02 {
      display: inline-block;
      top: 55%;
      left: 75%;
      position: absolute;
  }

  .player-no01 {
      display: inline-block;
      top: 80%;
      left: 40%;
      position: absolute;
  }
}
  